{% load jsignature_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{prima.slug}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
    rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
    crossorigin="anonymous">
</head>
<style>
    .thumb{
        width: 100px;
        height: auto;
    }
</style>
<body>
    <nav class="navbar navbar-light bg-light shadow-sm bg-body">
        <div class="container">
          <a class="navbar-brand mr-auto" href="#">
            <img class="rounded-circle thumb" src="{{board.school_batch.url}}" alt="">
        </a>
        <div class="mr-auto">
            <span class="navbar-text">
                <h2 class="text-primary fw-bolder">{{board.school_name}}</h2>
                <h5 class="fw-bolder">{{board.school_address}}, {{board.location}}</h5>
                <h6 class="fw-bolder">P O Box: {{board.p_o_box}}</h6>
              </span>
        </div>
        </div>
      </nav>
      <br>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <div class="card" style="width: 300px;">
                    <img src="{{  second.profile_picture.url }}" alt="" class="card-img-top">
                    <div class="card-body text-center">
                        <h5 class="card-title fw-bolder">
                        {{ second.first_name }} {{ second.last_name }}
                        </h5>
                        </a>
                    </div>
                </div>
            </div>


            <div class="col-md-8 p-3">
                <div class="card">
                    <div class="card-header text-center shadow-sm bg-body">
                        <h3>Student Information</h3>
                    </div>
                    <div class="card-body shadow-sm">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Admission Number</th>
                                    <th scope="col">{{second.admission_number}}</th>
                                </tr>
                            </thead>

                            <thead>
                                <tr>
                                    <th scope="col">Gender</th>
                                    <th scope="col">{{second.gender}}</th>
                                </tr>
                            </thead>

                            <thead>
                                <tr>
                                    <th scope="col">Address</th>
                                    <th scope="col">{{second.address_of_student}}</th>
                                </tr>
                            </thead>

                            <thead>
                                <tr>
                                    <th scope="col">Class</th>
                                    <th scope="col">{{second.class_Of_student}}</th>
                                </tr>
                            </thead>

                            <thead>
                                <tr>
                                    <th scope="col">Date of Birth</th>
                                    <th scope="col">{{second.date_of_birth}}</th>
                                </tr>
                            </thead>

                            <thead>
                                <tr>
                                    <th scope="col">Religion</th>
                                    <th scope="col">{{second.religion}}</th>
                                </tr>
                            </thead>

                            <thead>
                                <tr>
                                    <th scope="col">Mother Name</th>
                                    <th scope="col">{{second.mother_name}}</th>
                                </tr>
                            </thead>

                            <thead>
                                <tr>
                                    <th scope="col">Year of Graduation</th>
                                    <th scope="col">{{second.year_of_graduation}}</th>
                                </tr>
                            </thead>

                            <thead>
                                <tr>
                                    <th scope="col">Comment</th>
                                    <th scope="col">{{second.comment_of_student}}</th>
                                </tr>
                            </thead>

                            <thead>
                                <tr>
                                    <th scope="col">State</th>
                                    <th scope="col">{{second.state_of_student}}</th>
                                </tr>
                            </thead>

                            <thead>
                                <tr>
                                    <th scope="col">Local Government</th>
                                    <th scope="col">{{second.local_government_of_student}}</th>
                                </tr>
                            </thead>

                            <thead>
                                <tr>
                                    <th scope="col">Nationality</th>
                                    <th scope="col">{{second.nationality_of_student}}</th>
                                </tr>
                            </thead>

                            <thead>
                                <tr>
                                    <th scope="col">Signature</th>
                                    <th scope="col">
                                        <img src="{{ second.signature_of_student|signature_base64 }}" alt="{{ obj }}" /></li>
                                    </th>
                                </tr>
                            </thead>


                        </table>
                    </div>
                </div>
            </div>

            <div class="container p-5">
                <div class="row justify-content-center">
                    <div class="col">
                        <div class="card">
                            <div class="card-header text-center shadow-sm bg-body">
                                <h3>Guardian Information</h3>
                            </div>
                            <div class="card-body">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th scope="col">Full Name</th>
                                            <th scope="col">{{second.name_of_guardian}}</th>
                                        </tr>
                                    </thead>

                                    <thead>
                                        <tr>
                                            <th scope="col">State</th>
                                            <th scope="col">{{second.state_of_guardian}}</th>
                                        </tr>
                                    </thead>

                                    <thead>
                                        <tr>
                                            <th scope="col">Local Government</th>
                                            <th scope="col">{{second.local_government_of_guardian}}</th>
                                        </tr>
                                    </thead>

                                    <thead>
                                        <tr>
                                            <th scope="col">Nationality</th>
                                            <th scope="col">{{second.nationality_of_guardian}}</th>
                                        </tr>
                                    </thead>

                                    <thead>
                                        <tr>
                                            <th scope="col">Address</th>
                                            <th scope="col">{{ second.address_of_guardian }}</th>
                                        </tr>
                                    </thead>

                                    <thead>
                                        <tr>
                                            <th scope="col">Work Address</th>
                                            <th scope="col">{{second.work_address}}</th>
                                        </tr>
                                    </thead>

                                    <thead>
                                        <tr>
                                            <th scope="col">Occupation</th>
                                            <th scope="col">{{second.occupation_of_guardian }}</th>
                                        </tr>
                                    </thead>

                                    <thead>
                                        <tr>
                                            <th scope="col">Signature</th>
                                            <th scope="col">
                                                <img src="{{ second.signature_of_guardian|signature_base64 }}" alt="{{ obj }}" /></li>
                                            </th>
                                        </tr>
                                    </thead>

                                    <thead>
                                        <tr>
                                            <th scope="col">Relationship</th>
                                            <th scope="col">{{second.relationship}}</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
    <div class="container p-5">
        <div class="row justify-content-center">
            <div class="col text-center">
                <h3 class="fw-bolder">Certificate of Birth</h3>
                <img src="{{second.certificate_of_birth_photo.url}}" alt="" class="card-img-top">               
            </div>
            <div class="col text-center">
                <h3 class="fw-bolder">Residential Certificate</h3>
                <img src="{{second.residential_certificate_photo.url}}" alt="" class="card-img-top"> 
            </div>
        </div>
    </div>
    <br>
    <div class="text-center">
        <a class="btn btn-danger" href="{% url 'Delete-secondary' second.slug %}">Delete</a>
        <a class="btn btn-primary" href="{% url 'Edit-Secondary-Student' second.slug %}">Edit</a>
        <button onclick="window.print()" class="btn btn-success" href="">Print</button>
    </div>
    <br>
    <br>
</body>
</html>