<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <!-- Compiled and minified CSS -->
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
     rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
     crossorigin="anonymous">
</head>
<body>
  <br>
  <br>
  <br>
  <div class="text-center text-primary">
    <h1 class="fw-bolder">Dashboard</h1>
  </div>
    <div class="container p-5">
      <div class="row text-center">

        <div class="col">
          <div class="card shadow-sm">
            <div class="card-body">
              <a href="{% url 'Primary' %}" class="btn btn-success btn-lg">Primary</a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <div class="card-body">
              <a href="{% url 'Secondary' %}" class="btn btn-success btn-lg">Secondary</a>
            </div>
          </div>
        </div>

        {% for board in boards %}
        <div class="col">
          <div class="card shadow-sm">
            <div class="card-body">
              <a href="{% url 'Profile' board.slug %}" class="btn btn-success btn-lg">Profile</a>
            </div>
          </div>
        </div>
        {% endfor %}

        <div class="col">
          <div class="card shadow-sm">
            <div class="card-body">
              <a href="{% url 'Contact' %}" class="btn btn-success btn-lg">Complaint</a>
            </div>
          </div>
        </div>
  
        <div class="row justify-content-center">
          <div class="col p-2">
            <div class="card shadow-sm">
              <div class="card-body">
                <a href="{% url 'Result-Primary' %}" class="btn btn-success btn-lg">Primary Result</a>
              </div>
            </div>
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col p-2">
            <div class="card shadow-sm">
              <div class="card-body">
                <a href="{% url 'Secondary-Results-Albums' %}" class="btn btn-success btn-lg">Science Report Card</a>
              </div>
            </div>
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col p-2">
            <div class="card shadow-sm">
              <div class="card-body">
                <a href="{% url 'Art' %}" class="btn btn-success btn-lg">Art and Social Science Report Card</a>
              </div>
            </div>
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col p-2">
            <div class="card shadow-sm">
              <div class="card-body">
                <a href="{% url 'Commerce-C' %}" class="btn btn-success btn-lg">Commerce Report Card</a>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
</body>
</html>

