<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy and Terms</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
    rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
    crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm bg-body">
        <div class="container">
          <a class="navbar-brand" href="#">
            <h1>Pondadb</h1>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item active">
                <a class="btn btn-primary mx-lg-2 mx-0 my-lg-0 my-2" href="{% url 'About' %}">About</a>
              </li>
              <li class="nav-item">
                <a class="btn btn-primary mx-lg-2 mx-0 my-lg-0 my-2" href="{% url 'Contact' %}">Contact</a>
              </li>
              <li class="nav-item">
                <a class="btn btn-primary mx-lg-2 mx-0 my-lg-0 my-2" href="{% url 'login' %}">Login</a>
              </li>
              <li class="nav-item">
                <a class="btn btn-primary mx-lg-2 mx-0 my-lg-0 my-2" href="{% url 'Register' %}">Singn-Up</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="container p-5">
        <div class="row justify-content-center">

            <div class="col">
                <h1>Privacy and Cookies Policy</h1>
                <p>
                    A privacy policy is a legal document that outline how company collects,
                    uses, and protect the information of its customer and users. it informs the users about 
                    what information is being collected, why it is being collected, and how it will be used. 
                </p>
            </div>

            <div class="row justify-content-center">
                <div class="col-md-9">
                    <h4> <b>1.</b> how we collect and use school information</h4>
                    <h6>
                        We are asking for user information for various reasons, including:
                        Account Creation, Login, and Personalization.
                    </h6>
                    <p>
                       <b>1.1</b>
                       Account creation and Login: To create an account or log in to your account, users are required to provide
                       their school name, email address, and password.
                    </p>

                    <p>
                        <b>1.2</b> 
                        Customer Service: user information can be used to provide better customer support, 
                        such as helping users recover lost passwords or find infomation about thier account 
                     </p>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-md-9">
                    <h4><b>2.</b> Cookies</h4>
                    <h6>
                        Cookies are small text files that are stored on user devices by a website. They are used to help website
                        to remember information about your visit, such as your preferred language, the page you visited, and 
                        any preferences or settings you may have selected. Cookies help to make your browsing experience more personalize.
                        <p>There are two main types of cookies:
                            <br>
                            session cookies and persistent cookies. Session cookies are temporary files that are deleted when you close 
                            your browser, while persistent cookies are stored on your devices for a longer period of time, even after you close
                            your browser.
                            <p>Our website use both session and persistent to provide you with a more good browsing
                                experience. For example, we may use persistent cookies to remember your preferences during your
                                visit, or we may use persistent cookies to remember your preferences for future visits. 
                            </p> 
                        </p>
                    </h6>
                    <h6>Why we use cookies</h6>
                    <p>We use cookies for a viriety of reasons, including:</p>
                    <ul>
                        <li>Improving the functionality and performance of our website.</li>
                        <li>Providing you with content that are good for you.</li>
                        <li>Analyzing how our website is used and making improvements.</li>
                        <li>Ensuring the security of our website.</li>
                    </ul>
                    <h6>Control and disable cookies:</h6>
                    <p>most web browsers these days allow you to control or disable cookies through the browser settings.
                        if you would like to disable cookies, you can do so by adjusting your browser settings.
                        Please note that disabling the cookies may limit the functionality of our wenbsite. 
                    </p>

                    <h6>Change to this Cookies Policy:</h6>
                    <p>We may make changes to this Cookies Policy from time to time to reflect changes in our 
                        practices or to comply with legal requirements. Any changes we make to this Cookies Policy
                        will be posted in this page, so please check back regularly to stay informed.
                    </p>

                    <h6>Consent to use of cookies:</h6>
                    <p>By using our website, you consent to the use of cookies in accordance with this Cookies Policy.
                        If you do not agree to the use of cookies, please disable them in your browser settings or navigate
                        away from our website.
                    </p>

                    
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-md-9">
                    <h4><b>3.</b> how we protect your information</h4>
                    <h6>many website these days use third-party server for hosting, and storing user data for a variety
                        of reasons. This can help ensure the privacy, security, and availability of the data for the website's
                        users. here are the some of the key reasons why website use third-party servers.
                        <ul>
                            <li><b>Scalability</b>: Third-party server are designed to handle large amount of data and traffic,
                                making it easier for website to scale their operations as they grow. This can be especially important
                                for website that experience sudden spikes in traffic, as they may not have the insfrastructure in place
                                to handle the increased demand.                     
                            </li>

                            <li><b>Security</b>: Third-party servers are typically managed by experienced teams who specialize in data 
                                security and privacy. They employ a range of security measures, such as firewalls, encryptions, and 
                                regular backups, to help protect user data from theft, unauthorized access and reliable server.
                            </li>

                            <li><b>Expertise</b>: Third-party server are managed by expert who have specialize knowledge and experience
                                in managing large amount of data and traffic. This can help ensure that user data is stored and managed in
                                the most efficient and effective way possible. 
                            </li>
                            <br>
                            <h4>Conclustion</h4>
                            <p>By using a third-party server for hosting, and storing user data, Website can benefit
                                from the <b>Scalability</b>, <b>Security</b>, and <b>Expertise</b> that these services
                                provide. As a result, user can feel confident that their data is protected and that thier
                                privacy is being respected.
                                <br>
                                <p>Please note that while we use a third-party server for hosting and storing user data, we take our
                                    privacy obligations very serious and have implemented appropriate security measures to help protect
                                    your information. If you have any questions or concerns about the privacy of your data,
                                    please contact us. 
                                </p>
                            </p>
                        </ul> 
                    </h6>
                </div>
            </div>

        </div>
      </div>
      <div class="container">
        <div class="row justify-content-center">
            <h1>Acceptable use Policy</h1>
            <br>
            <div class="col">
                <h6>An Acceptable use policy, is a set of guidelines and rules that outline what is considered appropriate
                    behaviour when using this website. The purpose of this policy is to ensure the security and integrity of this
                    website, and to protect the privacy and confidentiality of the information
                    stored within it. These are some of the key point that should be included in this website.
                </h6>
    
                    <p>
                        <ul>
                            <li><b>Purpose of use</b>: The database should be used only for its intended purpose, which
                            is to support the educational and adminitrative function of the school or government.</li>
                            <br>
                            <li><b>user responsibility</b>: users are the responsible for their own actions when using the database, including 
                                any unauthorized access or unauthorized use.</li>
                                <br>
                            <li><b>Confidentiality</b>: users must respect the privacy and confidentiality of the information stored in this 
                            database and should not use any sensitive information for unauthorized individuals.</li>
                            <br>
                            <li><b>Password</b>: users are responsible for keeping their passwords secure and should not share it with anyone else.</li>
                            <br>
                            <li><b>unauthorized Access</b>: Attempts to gain unauthorized access to the database, or to any other computer systems or networks
                            are strictly prohibited.</li>
                            <br>
                            <li><b>Prohibited Activities</b>: The following activities are strictly prohibited when using this database:
                            hacking, cracking, spreading viruses or malwere, spamming, phishing and any other illegal activities.</li>
                            <br>
                            <li><b>Liability</b>: users are responsible for any damages or losses resulting from their actions when the 
                            database damages.</li>
                            <br>
                            <li><b>monitoring</b>: The school has right to monitor user activity on the database to ensure compiliance with this
                            Acceptable use policy.</li>
                            <br>
                            <h6>Conclustion:</h6>
                            <p>By using this database, user of the school agree to abide by this Acceptable use policy and to take full responsibility
                                for their actions when using it.
                            </p>
                        </ul>
                    </p>
            </div>

            <br>

            <h1>Payment Card Policy</h1>

            <div class="col">
                <h6>
                    This payment card policy outlines the rules and procedures of accepting, processing
                    and storing payment card information on our website. Our goal is to ensure the security and
                    protection of sensitive payment information and to comply with industry regulations such as 
                    the Payment Card Industry Data Security Standard (PCI DSS).
                </h6>

                <p><b>1. Accepted Payment method</b> <br>
                Our website accepts Verve, Visa, and masterCard payment card for monthly recurring payments.
            </p>

            <p><b>2. Payment Processing Procedures</b> <br>
                <ul>
                    <li>We are using secure payment gateway provider to process all payment card transactions.</li>
                    <li>Payment card information is collected using secure socket layer (SSL) encryption technology
                        to ensure that sensitive information is transmitted securely.
                    </li>
                    <li>We do not store payment card information on our server.</li>
                </ul>.
            </p>

            <p><b>3. Data storage and protection</b>
            <ul>
                <li>Payment card information is stored securely with our payment gateway provider.</li>
                <li>Access to payment card information is limited to authorize personel only.</li>
                <li>we are doing our best to make sure your card information is protected from unauthorized or 
                    unlawful access.
                </li>
            </ul>
        </p>

        <p><b>4. Dispute Resolution</b> <br>
            <ul>
                <li>if a customer dispute a charge, we will investigate the issue and take appropriate action, such as
                    issueing a refund or crediting the customer account.</li>
                <li>Customer may contest a charge by contacting us through our report <a href="">Page</a>.</li>
                <li>We regularly review and update our security measures to ensure continued compiliance with industry regulations.</li>
            </ul>
        </p>

        <p><b>5. Conclustion</b> <br>
        <ul>
            <li>we take security and protection of payment card seriously and are committed to ensuring a secure and protected
                transaction experience for our customers. If you have any questions or concerns, please do not hesitate to contact us.
            </li>
        </ul></p>
            </div>

        </div>
      </div>
      <br>
      <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <h4>Changing To This Privacy Policy</h4>
                <h6>Privacy Policy on this website can change. As technology evolves and the way we collect, store, and use
                    your information, it's important for organizations to regularly review and update their privacy policies.
                    <p><b>Why do privacy policies need to change:</b>
                        <ul>
                            <li><b>Legal requirements</b>: Privacy Law and regulations are constantly 
                            evolving, and companies must stay-up-to-date with the latest changes to ensure
                            that they remain compiliant.
                            </li>

                            <li><b>Business changes</b>: As companies grow and change, their data collection and storage practices
                            may change, requiring updates to their their privacy policy is necessary.
                             </li>

                            <li><b>Technology adavancements</b>: As new technologies are developed, companies may need to update their
                            privacy policies to reflect the new ways in which we collect and use informations.
                            </li>

                        </ul>
                    </p>
                </h6>
            </div>
            <div class="row justify-content-center">
                <div class="col">
                    <h1>Terms of use</h1>
                    <h4>General Terms</h4>
                    <p>
                        <ul>
                            <li>This database is provided for educational purposes only and is not intended for any commercial
                                or non-educational use.
                            </li>
                            <li>
                                This database may only be used in accordance with these terms of use and all applicable laws
                                and regulations. 
                            </li>
                            <li>The school has right to modify or discontinue the platform, in whole or in part, at any time
                                and without notice.
                            </li>
                            <li>This database may, at its sole discretion, remove, or restrict access to any content that 
                                violates these terms and privacy policy.
                            </li>
                            
                        </ul>
                        <h4>user Conduct</h4>
                        <ul>
                            <li>users are solely responsible for their data and any content they upload, store, or otherwise make
                                available on this platform.
                            </li>
                            <li>users must comply with all applicable laws and regulations, including those releted to data protection,
                                privacy, and intellectual property.
                            </li>
                            <li>users may not upload, store, or otherwise make available to any Content that is illegal, harmful,
                                offensive, or otherwise inappropriate.
                            </li>
                            <li>users may not use this database to engage in any activity that is illegal or harmful to others, 
                                including: hacking, phishing and spreading viruses or malwere.
                            </li>
                        </ul>
                        <h4>Intellectual Property</h4>
                        <ul>
                            <li>This database and its content are protected by applicable intellectual property laws and regulations.</li>
                            <li>user may not copy, reproduce, modify, distribute, or otherwise use any Content from the school database 
                                without the express permission of school adminitrative and any other rights holder.
                            </li>
                        </ul>

                        <h4>Warranty Disclaimer</h4>
                        <ul>
                            <li>We do not Warrant that the platform will be uninterrupted, error-free, or free from visruses
                                or other harmful components.
                            </li>
                            <li>We do not Warrant the accuracy, reliability, or any Content available on the platform, and is not
                                responsible for any errors or ommisions in such Content.
                            </li>
                        </ul>
                        <h4>Limitation of Liability</h4>
                        <ul>
                            <li>This database will not be liable for any damages of any kind arising from the use of the platform,
                                including, but not limited to direct, indirect, incidental, punitive, and consequential damages.
                            </li>
                            <li>We will not be liable to any damages arising from the unauthorized access or alteration of data.</li>
                        </ul>
                    </p>
                    <h3>Conclustion</h3>
                    <p>by using this website (<a href="">www.pondadb.com</a>) users are agree to be bound by these Policy and to use these services in 
                    accordance with all applicable laws and regulations.
                    <p>This platform is commited to providing a platform that is reliable, user-friendly, and secure, and we 
                        encourage all users to report any violations of these Policy. We also reserve the right to modify all these policy
                        at any time, and will notify users of any changes via a platform or orther appropriate means. 
                    </p>
                    </p>
                </div>
            </div>
        </div>
      </div>
      <br>
      <br>
</body>
</html>